/** @format */
@function pxToEm($px_size, $defaul_size: 16) {
  @return $px_size / $defaul_size + 0em;
}


body {
  margin: 0;
  background: #f2f2f2;
  font-family: 'Montserrat', sans-serif;
}

.top_header {
  background: #fff;
}

.top_menu {
  margin: auto;
  display: flex;
  justify-content: space-between;
  max-width: 1520px;
  padding: 0 30px;
  height: 60px;

  > div {
  display: flex;
  align-items: center;
}

.top_menu nav {
  display: flex;
  margin-left: 31px;
}

.top_menu nav a,
.btn {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.015em;
  color: #18a0fb;
  text-decoration: none;
}

.top_menu nav a {
  margin-left: 40px;
}


.btn {
  border: 1px solid #18a0fb;
  box-sizing: border-box;
  border-radius: 6px;
  width: 130px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.top_menu .btn {
  margin-left: 12px;
}

.btn_call_to_action {
  width: 192px;
  height: 52px;
}

.btn_light {
  background: #ffffff;
}

.btn_accent {
  background: #18a0fb;
  color: #fff;
}

header {
  max-width: 1680px;
  height: 100vh;
  max-height: 960px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bg_header {
  background: url(images/video_placeholder.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

 $__title {
  margin-top: 390px;
}

h1 {
  font-family: Montserrat;
  font-size: 56px;
  line-height: 80px;
  text-align: center;
  letter-spacing: -0.015em;
  color: #000000;
}

.btn_accent {
  background: #18a0fb;
  color: #fff;
}

section {
  flex-wrap: wrap;
  padding: 30px;
  background: #fff;
}
.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

h2 {
  padding: 10px;
}

.parg_title { 
  margin: 36px 0px 10px 0px;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -0.015em;
  text-align: left;
}

.card_titles {
  margin-bottom: 0;
  margin-top: 120px;
  margin-left:80px;
  display: flex;
  position: relative;
  font-weight: normal;
  font-size: 48px;
  line-height: 72px;
  letter-spacing: -0.015em;
  color: #000000;
}

.card {
  width: 45%;
  min-width: 300px;
  padding: 10px;
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 80px; 
}

.middle_teksts {
  margin: 24px 0 36px 0;
  left: 80px;
  top: 384px;
  font-family: Montserrat;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.015em;
}

.middle_texting { 
 justify-content: center;
}

.center_title { 
  display: flex;
  justify-content: center;
  font-family: Montserrat;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.015em;
}

.center_paragraph { 
  display: flex;
  justify-content: center;
  font-family: Montserrat;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.015em;
  color: rgba(0, 0, 0, 0.8);
}

.centeeer { 
  display: flex;
  justify-content: center;
  align-items: center;
}

.center_image {
  width: 750px;
  height: 440px;
  margin-right: 17px;
  margin-left: 90px;
  margin-bottom: 80px;
  display: block;
}

.center_title {
  margin-left: -10px;
  display: block;
  justify-content: center
}

.center_paragraph {
  display: block;
}

.centeer_text { 
  display: block;
  justify-content: center;
  margin-left: 50px;
  margin-top: -140px;
}

.u_center_main {
  background: #f2f2f2;
}

.u_center { 
  margin-left: 90px;
  display: flex;
}

.u_center_text { 
  margin-top: 115px;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.u_center_title {
  display: block;
  width: 686px;
  height: 36px;
  left: 80px;
  top: 225px;
  margin-top: 70px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.015em;
  color: #000000;
}

.u_center_paragraph {
  display: block;
  width: 686px;
  height: 90px;
  left: 80px;
  top: 285px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.015em;
  color: rgba(0, 0, 0, 0.8);
}

.u_center_image { 
  margin-bottom: 80px;
  margin-top: 80px;
  margin-left: 80px;
}

.comp_title { 
  display: flex;
  justify-content: center;
  margin-top: 120px;
  text-align: center;
  font-family: Montserrat;
  font-size: 48px;
  font-weight: normal;
  line-height: 72px;
}

.comp_text { 
  justify-content: center;
  display: flex;
  align-items: center;
  left: 0%;
  right: 0%;
  top: 141.67%;
  bottom: -180.56%;
  font-size: 36px;
  line-height: 50px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  letter-spacing: -0.015em;
}


.comp_menu { 
  flex-wrap: wrap;
}

.comp_top { 
  display: flex;
  justify-content: space-between;
  height: 76px;
  margin-left: 369px;
  margin-right: 369px;
  margin-bottom: 64px;
  margin-top: 80px;
}

.comp_bottom {
  display: flex;
  justify-content: space-between;
  height: 76px;
  margin-left: 369px;
  margin-right: 369px;
  margin-bottom: 120px;
}

.last_cont { 
  background: #f2f2f2;
  display: flex;

  .paragraph {
  display: flex;
  width: 943px;
  height: 100px;
  left: 80px;
  top: 120px;
  margin-top: 120px;
  margin-bottom: 120px;
  margin-left: 80px;
  margin-right: -80px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 50px;
  letter-spacing: -0.015em;
  color: rgba(0, 0, 0, 0.8);
}

.last_cont_buttons { 
  display: flex;
  margin: auto;
  margin-top: 144px;
  margin-bottom: 144px;
  justify-content: space-between;
  }

  .accent { 
  display: flex;
  justify-content: space-around;
  margin-right: 45px;
  }

  .right { 
  display: flex;
  margin-left: 144px;
}

.footer_top { 
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 120px 20px 48px 20px;

  .tteksts { 
  display: flex;

  .a { 
  height: 24px;
  text-decoration: none;
  margin-bottom: 15px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  letter-spacing: -0.015em;
  color: #000000;
}

.footer_logo { 
  display: flex;
  justify-content: center;
  align-items: center;
}

.under_logo {
  margin-right: 148px; 
  margin-left: 148px;
}

.footer_ikonas {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px; 
}

.footer_ikonas a { 
  display: flex;
  margin-left: 21px;
}

.footer_teksts { 
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 65px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.015em;
  color: rgba(0, 0, 0, 0.8);
}

@media only screen and (max-width: 600px;) {
  .bg_header {
    font-size: 10px;
  }
}