/** @format */
body {
  margin: 0;
  background: #f2f2f2;
  font-family: 'Montserrat', sans-serif;
}

.top_header {
  background: #fff;
}

.top_menu {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1520px;
  padding: 0 30px;
  height: 60px;
}

.top_menu > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top_menu nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 31px;
}

.top_menu nav a,
.btn {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.015em;
  color: #18a0fb;
  text-decoration: none;
}

.top_menu nav a {
  margin-left: 40px;
}

.btn {
  border: 1px solid #18a0fb;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6px;
  width: 130px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.top_menu .btn {
  margin-left: 12px;
}

.btn_call_to_action {
  width: 192px;
  height: 52px;
}

.btn_light {
  background: #ffffff;
}

.btn_accent {
  background: #18a0fb;
  color: #fff;
}

header {
  max-width: 1680px;
  height: 100vh;
  max-height: 960px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bg_header {
  background: url(images/video_placeholder.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h1 {
  font-family: Montserrat;
  font-size: 56px;
  line-height: 80px;
  text-align: center;
  letter-spacing: -0.015em;
  color: #000000;
}

.bg_header__title {
  margin-top: 390px;
}

.btn_accent {
  background: #18a0fb;
  color: #fff;
}

section {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 30px;
  background: #fff;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

h2 {
  padding: 10px;
}

.parg_title {
  margin: 36px 0px 10px 0px;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -0.015em;
  text-align: left;
}

.card_titles {
  margin-bottom: 0;
  margin-top: 120px;
  margin-left: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  font-weight: normal;
  font-size: 48px;
  line-height: 72px;
  letter-spacing: -0.015em;
  color: #000000;
}

.card {
  width: 45%;
  min-width: 300px;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: 80px;
}

.middle_teksts {
  margin: 24px 0 36px 0;
  left: 80px;
  top: 384px;
  font-family: Montserrat;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.015em;
}

.middle_texting {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.center_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Montserrat;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.015em;
}

.center_paragraph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Montserrat;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.015em;
  color: rgba(0, 0, 0, 0.8);
}

.centeeer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.center_image {
  width: 750px;
  height: 440px;
  margin-right: 17px;
  margin-left: 90px;
  margin-bottom: 80px;
  display: block;
}

.center_title {
  margin-left: -10px;
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.center_paragraph {
  display: block;
}

.centeer_text {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 50px;
  margin-top: -140px;
}

.u_center_main {
  background: #f2f2f2;
}

.u_center {
  margin-left: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.u_center_text {
  margin-top: 115px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
}

.u_center_title {
  display: block;
  width: 686px;
  height: 36px;
  left: 80px;
  top: 225px;
  margin-top: 70px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.015em;
  color: #000000;
}

.u_center_paragraph {
  display: block;
  width: 686px;
  height: 90px;
  left: 80px;
  top: 285px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.015em;
  color: rgba(0, 0, 0, 0.8);
}

.u_center_image {
  margin-bottom: 80px;
  margin-top: 80px;
  margin-left: 80px;
}

.comp_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 120px;
  text-align: center;
  font-family: Montserrat;
  font-size: 48px;
  font-weight: normal;
  line-height: 72px;
}

.comp_text {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 0%;
  right: 0%;
  top: 141.67%;
  bottom: -180.56%;
  font-size: 36px;
  line-height: 50px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  letter-spacing: -0.015em;
}

.comp_menu {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.comp_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 76px;
  margin-left: 369px;
  margin-right: 369px;
  margin-bottom: 64px;
  margin-top: 80px;
}

.comp_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 76px;
  margin-left: 369px;
  margin-right: 369px;
  margin-bottom: 120px;
}

.last_cont {
  background: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.last_cont_paragraph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 943px;
  height: 100px;
  left: 80px;
  top: 120px;
  margin-top: 120px;
  margin-bottom: 120px;
  margin-left: 80px;
  margin-right: -80px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 50px;
  letter-spacing: -0.015em;
  color: rgba(0, 0, 0, 0.8);
}

.last_cont_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  margin-top: 144px;
  margin-bottom: 144px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.last_cont_accent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-right: 45px;
}

.last_cont_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 144px;
}
/*# sourceMappingURL=style.css.map */